body {
    background-color: #121212;
    overflow-x: hidden;
    color: #EFEFEF;
}
footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:11%;
    background-color: #FFFFFF;
    opacity:0.7;
    padding: 5px;
}
header {
    height: 8%;
    position:relative;
}
header h2 {
    font-size: 4.5em;
    font-family: serif;
    font-weight: bold;
    color: #EFEFEF;
}
.nav {
    background-color: rgb(52,133,160);
    height: 7%;
    padding: 0.5% 0 0 0.5%;
}
.icons {
    font-size: 2.5em;
    position:absolute;
    bottom: 0;
    right: 0;
}
.icons i {
    cursor: pointer;
}
.iconSelected {
    color: rgb(60,141,168);
}
.de-input {
    width: 100%;
    position: relative;
    display: inline-block;
}

.de-input button {
    border: none;
    background: none;
}

.de-input label {
    font-size: 12px;
    font-family: sans-serif;
    color: #999;
    position: absolute;
    font-weight: normal !important;
    padding:1px 0 1px 3px;
    margin:0px;
}
.de-input input, .de-input select {
    width: 100%;
    height:40px;
    padding: 15px 3px 3px 3px;
    font-size: 18px;
    font-family: sans-serif;
    color: #333;
}

.de-input select {
    background: white;
    border-radius: 0%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.vcenter {
    display: flex;
    align-items: center;
}
.highlighted {
    background: yellow
}
.leaflet-popup-content {
    color: #333;
}

.control-pane{
    position: absolute;
    /* background: white; */
    border: 2px solid #AAA;
    right: 1%;
    top: 21%;
    background-color: #333;
    z-index: 1;
    width: 30%;
    opacity: 0.9;
    color: #EEE;
    height: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}


h2 a:hover, h2 a:visited, h2 a:active, h2 a:link {
    text-decoration: none;
    color: #EFEFEF;
}

.control-pane a:link {
    color: #7cbdd3;
}

.control-pane a:hover {
    color: #9cddf3;
}

.control-pane a:visited, .control-pane a:active {
    color: #3c7d93;
    text-decoration: underline;
}

.marker-cluster div {
    color: transparent;
}

.marker-cluster-tiny {
    background-color: rgba(24,84,104, 0.6);
}
.marker-cluster-tiny div {
    background-color: rgba(24,84,104, 1);
}

.marker-cluster-small {
    background-color: rgba(35,101,124, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(35,101,124, 1);
}

.marker-cluster-medium {
    background-color: rgba(51,120,144, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(51,120,144, 1);
}

.marker-cluster-large {
    background-color: rgba(69,139,163, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(69,139,163, 1);
}

.marker-cluster-huge {
    background-color: rgba(92,157,179, 0.6);
}
.marker-cluster-huge div {
    background-color: rgba(92,157,179, 1);
}


.timeline-event-box {
    color: #333;
}
