body {
    background-color: #121212;
    overflow-x: hidden;
    color: #EFEFEF;
}
footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:11%;
    background-color: #FFF;
    opacity: 0.7;
    padding: 5px;
}
footer:hover{
    opacity: 0.8;
}
header {
    height: 8%;
    width: 100%;
    position:absolute;
    top: 0;
    left:0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 0 5px 0;
    margin: 0;
}
header h2 {
    font-size: 48px;
    font-family: serif;
    font-weight: bold;
    color: #EFEFEF;
    padding-left: 5px;
}
.nav {
    background-color: rgba(52,133,160,0.8);
    height: 6%;
    padding: 0.5% 0 0 0 !important;
    margin: 0;
    position: absolute;
    top: 8%;
    width: 100%;
    z-index: 1;
    left:0;
    width: 100%;
}
.nav div{
    padding-left: 5px;
}

.control-pane {
    background-color: rgba(82,163,190,0.8);
    height: 6%;
    padding: 0.5% 0 0 0;
    position: absolute;
    margin:0;
    left:0;
    top: 14%;
    width: 100%;
    z-index: 1;
    padding: 5px;
}

.timeline-results {
    background-color: rgba(122,203,230,0.8);
    height: 8%;
    padding: 0.5% 0 0 0;
    position: absolute;
    margin:0;
    left:0;
    top: 20%;
    width: 100%;
    z-index: 1;
    padding: 5px;
}

.city-results {
    color: #333;
    background-color: rgba(202,243,255,0.9);
    max-height: 60%;
    padding: 0.5% 0 0 0;
    position: absolute;
    right:2%;
    top: 22%;
    width: 30%;
    z-index: 1;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.city-results ul {
    list-style-type: none;
}

.city-results li:nth-child(even) {
  background-color: rgba(222,243,255,0.8);
}

.city-results a {
	font-weight: bold;
}
.city-results a:link {
    color: #333;
}

.city-results a:hover {
    color: #555;
}

.city-results a:visited, .city-results a:active {
    color: #999;
    text-decoration: underline;
}

.icons {
    font-size: 2.5em;
    position:absolute;
    bottom: 0;
    right: 0;
}
.icons i {
    cursor: pointer;
}
.iconSelected {
    color: rgb(60,141,168);
}

.iconDisabled {
    color: #555;
}
.de-input {
    width: 100%;
    position: relative;
    display: inline-block;
}

.de-input button {
    border: none;
    background: none;
}

.de-input label {
    font-size: 12px;
    font-family: sans-serif;
    color: #999;
    position: absolute;
    font-weight: normal !important;
    padding:1px 0 1px 5%;
    margin:0px;
}
.de-input input, .de-input select {
    width: 100%;
    height: 80%;
    padding: 7% 3px 3px 5%;
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
}

.de-input select {
    background: white;
    border-radius: 0%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.vcenter {
    display: flex;
    align-items: center;
}
.highlighted {
    background: yellow
}
.leaflet-popup-content {
    color: #333;
}

h2 a:hover, h2 a:visited, h2 a:active, h2 a:link {
    text-decoration: none;
    color: #EFEFEF;
}

.marker-cluster div {
    color: transparent;
}

.marker-cluster-tiny {
    background-color: rgba(24,84,104, 0.6);
}
.marker-cluster-tiny div {
    background-color: rgba(24,84,104, 1);
}

.marker-cluster-small {
    background-color: rgba(35,101,124, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(35,101,124, 1);
}

.marker-cluster-medium {
    background-color: rgba(51,120,144, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(51,120,144, 1);
}

.marker-cluster-large {
    background-color: rgba(69,139,163, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(69,139,163, 1);
}

.marker-cluster-huge {
    background-color: rgba(92,157,179, 0.6);
}
.marker-cluster-huge div {
    background-color: rgba(92,157,179, 1);
}


.timeline-event-box {
    color: #333;
}

input, button, label {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.radio-btn {
    width: 48%;
    height: 80%;
    font-size: 16px !important;
    font-family: sans-serif;
    color: #333;
}

.submit-btn {
    width: 48%;
    height: 80%;
    font-family: sans-serif;
    color: #CCC;
    background-color: transparent;
}

.angular-leaflet-map{
    position:absolute;
    left: 0;
    top: 0;
}

.slider-handle {
    background-color: #CCC;
    background-image: linear-gradient(to bottom,rgb(142,207,229) 0, rgb(92,157,179) 100%)
}

.flotTip {
    background-color: #555;
    color: #AAA;
}
