<html ng-app = "myApp">
	<head >


		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="leaflet/leaflet.js"></script>
		<script type="text/javascript" src="angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
		<script type="text/javascript" src="ngRangeSlider-master/dist/ng-range-slider.js"></script>
		<script type="text/javascript" src="map.js"></script>

		<link rel="stylesheet" type="text/css" href="leaflet/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="ngRangeSlider-master/example/css/Default.css" />

		<style>
    		.highlighted { background: yellow }
    	</style>

	</head>
	<body ng-controller="MapCtrl">
    	<leaflet maxbounds="maxbounds" tiles="tiles" markers="markers" icon = "markers.defaultIcon" event-broadcast="events" center="center" width="100%" height="480px"></leaflet>
    	<input type="date" ng-model="startDate" min="1836-01-02" max="1923-01-01">
    	<input type="range" min={{startDate.getTime()}} max={{endDate.getTime()}} ng-model="range" ng-mousemove="filter()"></input>  
    	<input type="date" ng-model="endDate" min="1836-01-02" max="1923-01-01"></input>
    	<input type="search" ng-model="search"><button ng-click="searchT()">Search</button>
    	<p ng-model="text" ng-bind-html="text"></p>
  </body>
</html>
