<html ng-app = "loc">
	<head>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/leaflet/leaflet.js"></script>
		<script type="text/javascript" src="js/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
		<script type="text/javascript" src="js/ngRangeSlider-master/dist/ng-range-slider.js"></script>
		<script type="text/javascript" src="js/map.js"></script>
		<script type="text/javascript" src="js/angular-horizontal-timeline-master/angular-horizontal-timeline.js"></script>
		<script type="text/javascript" src="js/moment.js"></script>
		<script type="text/javascript" src="js/moment-range/lib/moment-range.js"></script>
		<script type="text/javascript" src="js/bower-angular-sanitize/angular-sanitize.js"></script>

		<link rel="stylesheet" type="text/css" href="js/leaflet/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="js/ngRangeSlider-master/example/css/Default.css" />
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="js/angular-horizontal-timeline-master/angular-horizontal-timeline.css">

		<!--- This style is for highlighting text, can propably be placed somewhere else-->
        <style>
    		.highlighted { background: yellow }
    	</style>
		<title>Chronicling America</title>
	</head>
	<body ng-controller="MapCtrl">
	<div class="row">
		<div class="col-md-10">
			<leaflet maxbounds="maxbounds" tiles="tiles" markers="finMarkers" icon = "circle" event-broadcast="events" center="center" width="100%" height="480px"></leaflet>
		</div>
		
		<form ng-submit="getMarkers()">
		<div class="col-md-2">
			<h3>Search </h3>
			<!-- Search Term -->
			<div class="row form-inline">
				<div class="col-md-3">
					<label for="search_term">
						Term
					</label>
				</div>
				<div class="col-md-9">
		    		<input type="search" ng-model="search" class="form-control" id="search_term" />
				</div>
	    	</div>

			<!-- Start Date -->
			<div class="row form-inline">
				<div class="col-md-3">
					<label for="start_date">
						Start Date
					</label>
				</div>
				<div class="col-md-9">
		    		<input type="date" ng-model="startDate" min="1836-01-01" max="1925-01-01" class="form-control" id="start_date" />
				</div>
	    	</div>

			<!-- End Date -->
			<div class="row form-inline">
				<div class="col-md-3">
					<label for="end_date">
						End Date
					</label>
				</div>
				<div class="col-md-9">
					<input type="date" ng-model="endDate" min="1836-01-02" max="1925-01-01" class="form-control" id="end_date" />
				</div>
	    	</div>

		<button ng-click="getMarkers()" class="form-control">Search</button>
		</form>

			<h3>Playback</h3>
	    	<div class="row">
				<div class="col-md-12 form-inline">
		            <!--- This date input goes with the range input above-->

					<div class="row form-inline">
						<div class="col-md-3">
							<label for="playback_date">
								Playback Date
							</label>
						</div>
						<div class="col-md-9">
			    			<input type="date" ng-model="rangeDate" min="{{startDate}}" max="{{endDate}}" ng-change="updateRange()" class="form-control" id="playback_date" />
						</div>
					</div>
					
				</div>
	    	</div>
			<div class="row">
				<div class="col-md-12 form-inline">
		    		<input type="range" min="{{startDate.getTime()}}" max="{{endDate.getTime()}}" ng-model="range" ng-mousedown="turnOn()" ng-mouseup="turnOn()" ng-mousemove="filter()" />
		    		<button ng-hide="isPlaying" ng-click="play()" class="form-control">Play</button>
		    		<button ng-show="isPlaying" ng-click="play()" class="form-control">Pause</button>
				</div>
				<div class="col-md-12 form-inline">
					<button button ng-show="textShown" ng-click="popupText()" class="form-control">Show Full Text</button>
				</div>
	    		</div>

		</div>
	</div>
		<div class="row">
			<horizontal-timeline 
	  			start-date="1815-06-25" 
	  			curr-date="{{rangeDate}}"
	  			end-date="1935-8-27"
	  			events='[{"date":"1905-08-18","content":"<p>lorem ipsum</p>"},{"date":"1865-09-01","content":"<p>lorem ipsum</p>"}]'>
			</horizontal-timeline>	
		<div>
	    <div class="row">
	        <!---The text that is shown by clicking on a marker.-->
			<div ng-model="text" ng-bind-html="text"></div>
		</div>

  </body>
</html>
