<html ng-app = "loc">
	<head>
		<title>Chronicling America</title>

		<link rel="icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="js/leaflet/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="js/ngRangeSlider-master/example/css/Default.css" />
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="js/leaflet/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="js/leaflet/Leaflet.markercluster/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="js/angular-horizontal-timeline-master/angular-horizontal-timeline.css">
		<link rel="stylesheet" href="bootstrap/Font-Awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap-slider.css">
		<link rel="stylesheet" href="css/styles.css">
		<script type="text/javascript" src="js/lodash.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/leaflet/leaflet.js"></script>
		<script type="text/javascript" src="js/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
		<script type="text/javascript" src="js/ngRangeSlider-master/dist/ng-range-slider.js"></script>
		<script type="text/javascript" src="js/map.js"></script>
		<script type="text/javascript" src="js/moment.js"></script>
		<script type="text/javascript" src="js/moment-range/lib/moment-range.js"></script>
		<script type="text/javascript" src="js/bower-angular-sanitize/angular-sanitize.js"></script>
		<script type="text/javascript" src="js/bootstrap-slider.js"></script>
		<script type="text/javascript" src="js/slider.js"></script>
		<script type="text/javascript" src="js/angular-flot.js"></script>
	</head>

	<body ng-controller="MapCtrl" ng-cloak ng-keypress="keyCapture($event.which)">
		<!-- Header -->
		<header class="row">
			<div class="col-sm-6">
				<h2 style="padding-top:0;margin-top:0;"><a href="/"><i class="fa fa-map-marker"></i> US News Map</a></h2>
			</div>
			<div class="col-sm-6 text-right icons">
				<i class="fa fa-question" ng-class="{iconSelected: icons['info']}" ng-click="iconClick('info')"></i>
				<i class="fa fa-search" ng-class="{iconSelected: icons['search']}" ng-click="iconClick('search')"></i>
				<i class="fa fa-play-circle-o" ng-class="{iconSelected: icons['play'], iconDisabled:!search_started}" ng-click="iconClick('play')"></i>
				<i class="fa fa-history" ng-class="{iconSelected: icons['history'], iconDisabled:!search_started}" ng-click="iconClick('history')"></i>
			</div>
		</header>

		<!-- Search -->
		<div class="row nav form-inline" ng-show="icons['search']">
			<form ng-submit="newSearch()">
				<!-- Search Term -->
				<div class="col-sm-2">
					<div class="de-input">
						<label for="input-search">Search Term</label>
						<input type="text" ng-model="search" id="input-search" />
					</div>
				</div>

				<!-- Start Date -->
				<div class="col-sm-2">
					<div class="de-input">
						<label for="input-startDate">Start Date</label>
						<input type="date" ng-model="startDate" min="1836-01-01" max="1925-01-01" id="input-startDate" />
					</div>
				</div>

				<!-- End Date -->
				<div class="col-sm-2">
					<div class="de-input">
						<label for="input-endDate">End Date</label>
						<input type="date" ng-model="endDate" min="1836-01-02" max="1925-01-02" id="input-endDate" />
					</div>
				</div>

				<div class="btn-group btn-group-sm col-sm-2 text-center" data-toggle="buttons">
					<label class="btn btn-info radio-btn" ng-class="{active:lit_or_fuzz=='Literal'}">
		            	<input type="radio" name="searchType" ng-model="lit_or_fuzz" value="Literal" autocomplete="off" checked />
						Literal
					</label>
					<label class="btn btn-info radio-btn" ng-class="{active:lit_or_fuzz=='Fuzzy'}">
		            	<input type="radio" name="searchType" ng-model="lit_or_fuzz" value="Fuzzy" autocomplete="off" />
						Fuzzy
					</label>
				</div>
				<div class="col-sm-3" ng-show="meta.hasOwnProperty('rows') && meta['available'] > 0">
					Showing {{resultsShowing | number}} of {{meta['available'] | number}} results.
					<label class="label label-info clickable" ng-click="loadMore()" ng-show="resultsShowing < meta['available']">
						Load {{meta.batchSize}} More
					</label>
				</div>
				<div class="col-sm-3" ng-show="meta.hasOwnProperty('rows') && meta['available'] == 0">
					<br/>
					No results found. Please try a broader search term or time period.
				</div>
				<div class="col-sm-3 alert alert-warning" ng-show="errorStatus">
					<br/>
						<h4>We Apologize</h4>
						<!-- We are currently performing necessary unscheduled maintenance on this system. Please email usnewsmap@gtri.gatech.edu with any questions or concerns. -->
						An error has occured while searching. Please try again and send an email to usnewsmap@gtri.gatech.edu if the problem persists.
				</div>
				<div class="text-right col-sm-1" ng-class="{'col-sm-offset-3':!(meta.hasOwnProperty('rows') && meta['available'] > 0)}">
					<span ng-show="loadingStatus"><i class="fa fa-lg fa-spinner fa-spin"></i></span>
					<button type="submit" class="btn submit-btn">
						<i class="fa fa-2x fa-arrow-circle-right"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="control-pane row" ng-show="validSearch() && icons['play']">

			<div class="col-sm-2">
				<div class="de-input">
					<label for="playback_date">Playback Date</label>
					<input type="date" ng-model="rangeDate" min="startDate" max="endDate" ng-change="updateRange()" id="playback_date" />
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-9">
						<div class="btn-group btn-group-sm" data-toggle="buttons">
							<label class="btn btn-info" ng-class="{active:markersConstant}">
								<input type="radio" name="searchType" ng-model="markersConstant" data-ng-value="true" autocomplete="off" checked ng-change="setMarkers()" />
								Cumulative
							</label>
							<label class="btn btn-info" ng-class="{active:!markersConstant}">
								<input type="radio" name="searchType" ng-model="markersConstant" data-ng-value="false" autocomplete="off" ng-change="setMarkers()" />
								Last {{markerYears}}
								<ng-pluralize count="markerYears" when="{'1': 'Year', 'other': 'Years'}"></ng-pluralize>
							</label>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="de-input" ng-show="!markersConstant">
							<label for="markerYears-input">Years</label>
							<input type="number" name="points" ng-model="markerYears" ng-change="setMarkers()" min="1" max="100" step="1" value="10" id="markerYears-input" />
						</div>
					</div>
				</div>
			</div>

			<div class="form-inline col-md-5" style="padding-top:10px;">
				<slider ng-model="range" min="-4228588800000" max="-1483228800000" tooltip="hide" ng-mousedown="turnOn()" ng-mouseup="turnOn()" ng-change="filter()" step="31536000000"></slider>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col-sm-8">
						<div class="de-input">
							<label for="playbackInterval-input">Playback Interval</label>
							<select id="playbackInterval-input"
								ng-model="playbackInterval"
								ng-options="opt.label for opt in playbackIntervalOptions track by opt.value"></select>
						</div>
					</div>
					<div class="col-sm-4 text-right">
						<button class="btn submit-btn" ng-show="!isPlaying" ng-click="play()">
							<i class="fa fa-2x fa-play-circle"></i>
						</button>
						<button class="btn submit-btn" ng-show="isPlaying" ng-click="play()">
							<i class="fa fa-2x fa-pause-circle"></i>
						</button>
					</div>
				</div>
			</div>

		</div>
		<div class="timeline-results row" ng-show="validSearch() && icons['history']">
			<flot dataset="timelineData" options="chartOptions"></flot>
		</div>

		<div class="city-results" ng-hide="(cityResultsClosed || selectedCity == false) && icons['info'] == false">
			<div class="row" ng-show="icons['info']">
				<div class="col-md-12">
					<div style="float:right;display:block;margin:5px;">
						<i class="fa fa-close" ng-click="iconClick('info')" style="cursor:pointer"></i>
					</div>
					<p>USNewsMap.com allows users to search <a href="http://chroniclingamerica.loc.gov" target="_blank">Chronicling America: Historic American Newspapers</a> and visualize the results across space and time.

					<p>A literal search will find newspaper articles containing the exact phrase as entered.

					<p>A fuzzy search will find newspaper articles with up to four words between each of the entered terms.

					<p>Boolean logic (and, or, not) is permitted.

					<p>USNewsMap.com is a creation of <a href="http://gtri.gatech.edu/icl" target="_blank">Georgia Tech Research Institute</a> and <a href="http://eHistory.org" target="_blank">eHistory.org at the University of Georgia</a>. Chronicling America: Historic American Newspapers is sponsored jointly by the National Endowment for the Humanities and the Library of Congress.

					<p>You may contact us at info@ehistory.org.
				</div>
			</div>
			<div class="row" ng-hide="icons['info']">
				<div class="col-sm-6">
					<h4>{{selectedCity}}</h4>
				</div>
				<div class="col-sm-4">
					<h4 style="font-size:14px;">{{allMarkers[selectedCity].length}} results</h4>
				</div>
				<div class="col-sm-2 text-right">
					<i class="fa fa-close" ng-click="cityResultsClosed=true" style="cursor:pointer"></i>
				</div>
			</div>
			<div class="row" ng-hide="icons['info']">
				<div class="col-sm-12">
					<ul>
						<li ng-repeat="e in allMarkers[selectedCity]">
							<a href="http://chroniclingamerica.loc.gov/lccn/{{e.seq_num}}/{{e.date}}/{{e.ed}}/{{e.seq}}.pdf" target="_blank" ng-click="clickedPaper(e)">
								[ PDF ]
							</a>
							&nbsp;
							<a href="http://chroniclingamerica.loc.gov/lccn/{{e.seq_num}}/{{e.date}}/{{e.ed}}/{{e.seq}}/#words={{searchPhrase.replace(' ','+')}}&proxtext={{searchPhrase.replace(' ','+')}}" target="_blank" ng-click="clickedPaper(e)">
								{{e.date}} {{newspapers[e.seq_num].name}} p{{e.seq.split('-').pop()}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Map -->
		<leaflet tiles="tiles" defaults="defaults" markers="markers" event-broadcast="events" center="center" width="100%" height="100%" geojson="geojson"></leaflet>

		<footer>
			<div class="col-sm-offset-2 col-sm-3 text-right">
				<a href="http://www.gtri.gatech.edu/icl" target="_blank">
					<img src="images/GTRI_Logo_solid.png" style="height:70px;padding:5px;" />
				</a>
			</div><!--
    	--><div class="col-sm-offset-1 col-sm-3 text-left" style="padding-top:5px;">
				<a href="http://www.ehistory.org/" target="_blank">
					<img src="images/UGA_Logo.png" style="height:70px;padding:5px;" />
				</a>
			</div>
		</footer>

		<script>
			!function(g,t,r,i,U,G,A){g.GoogleAnalyticsObject=r;g[r]||(g[r]=function(){
			(g[r].q=g[r].q||[]).push(arguments)});g[r].l=+new Date;G=t.createElement(i);
			A=t.getElementsByTagName(i)[0];G.src=U;A.parentNode.insertBefore(G,A)}
			(window,document,'ga','script','//www.google-analytics.com/analytics.js');

			ga('create', 'UA-41089209-6', 'auto');
			ga('send', 'pageview');
		</script>
		<script type="text/javascript" src="js/us-states.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/flot/jquery.flot.min.js"></script>
		<script type="text/javascript" src="js/flot/jquery.flot.resize.min.js"></script>
		<script type="text/javascript" src="js/flot/jquery.flot.tooltip.min.js"></script>
  	</body>

</html>
